<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Sign Up Page</title>
    </head>
<body>
        <form action="/signin" method="get">
        <button type="get">Sign in</button>   
 </form>
        <form action="/up" method="post">
        <h1>Sign Up</h1>
        <label for="first">Email</label>
        <input type="text" placeholder="Enter your Email" name="start" >
        
        <label for="pass">Password</label>
        <input type="text" placeholder="Enter Password" name="end" >
      
        <label for="pass">Password</label>
        <input type="text" placeholder="Re-Enter Password"  >
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
